.col1{
   padding-left: 75px; 
}

.col2{
    padding-left: 140px;
}

.col3{
    padding-left: 100px;
}

.col4{
    padding-left: 100px;
}

.col5{
    padding-left: 100px;; 
}

.col6{
    padding-left: 145px; 
}

.col7{
    padding-right: 300px;
}





