.col1{
   padding-left: 75px; 
}

.col2{
    padding-left: 100px;
}

.col3{
    padding-left: 80px;
}

.col4{
    padding-left: 90px;
}

.col5{
    padding-left: 95px;; 
}

.col6{
    padding-left: 125px; 
}

.col7{
    padding-right: 300px;
}





