.col1{
   width: 200px; 
}

.col2{
    width: 150px; 
}

.col3{
    width: 100px; 
}

.col4{
    width: 500px; 
}

.col5{
    width: 50px; 
}

.col5bis{
    padding-left: 20px;
    width: 50px; 
}

.col6{
    width: 150px; 
}

.col6bis{
    padding-left: 25px;
    width: 150px; 
}

